
body {
    background-color: rgb(33,33,33);
    color: whitesmoke;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
li {
    padding-bottom: 1em;
}
.li-butt{
    
    padding-bottom: 1.5em;
    border-style: solid;
    border-color: rgb(182, 182, 182); 
    content: "";
    bottom:0;
    left:0;
    max-block-size: 2em;
    max-width: 4.5em;
    text-align:center;
    background-image: linear-gradient(rgb(182,182,182), rgb(180,90,125), rgb(50, 102, 172));
    border-radius: 1em;
}
.home-butt{
    background-color:rgb(145, 145, 145) ;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(182, 182, 182);
    border-radius: 2em;
    float: right;
    }

.jump-top{
    background-color:rgb(145, 145, 145) ;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(182, 182, 182);
    border-radius: 2em;
    float:right;
}